<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>投稿新規登録</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'ホーム' %></li>
            <li class="breadcrumb-item active">投稿新規登録</li>
        </ol>
        </div>
    </div>
  </div>
</section>


<section class="content">
<%= form_with(method: :post, url: posts_path, local: true) do |f| %>
  <div class="card-body">
  
    <div class="form-group col-sm-6">
      <%= f.label :タイトル： %><span class="badge badge-danger">必須</span>
      <%= f.text_field :title, class:"form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :お仕事概要： %>
      <%= f.text_area :about, class:"form-control"  %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :お仕事詳細： %>
      <%= f.text_area :job, class:"form-control"  %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :必要スキル： %>
      <%= f.text_area :skill, class:"form-control"  %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :お仕事の頻度： %>
      <%= f.text_area :frequency, class:"form-control"  %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :待遇： %>
      <%= f.text_area :treat, class:"form-control"  %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :その他： %>
      <%= f.text_area :other, class:"form-control"  %>
    </div>

  </div>

  <div class="card-footer">
    <%= f.submit "保存", class:"btn btn-primary" %>
  </div>
<% end %>
</section>