<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>投稿詳細</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'ホーム', posts_path %></li>
            <li class="breadcrumb-item active">投稿詳細</li>
        </ol>
        </div>
    </div>
  </div>
</section>

<div class="card-body">

  <p>
    <strong>ID：</strong>
    <div class="text-sm-left">
      <%= @id %>
    </div>
  </p>

  <p>
    <strong>タイトル：</strong>
    <div class="text-sm-left">
      <%= @title %>
    </div>
  </p>

  <p>
    <strong>概要：</strong>
    <div class="text-sm-left">
      <%= @about %>
    </div>
  </p>

  <p>
    <strong>詳細：</strong>
    <div class="text-sm-left">
      <%= @job %>
    </div>
  </p>

  <p>
    <strong>スキル：</strong>
    <div class="text-sm-left">
      <%= @skill %>
    </div>
  </p>

  <p>
    <strong>頻度：</strong>
    <div class="text-sm-left">
      <%= @frequency %>
    </div>
  </p>

  <p>
    <strong>待遇：</strong>
    <div class="text-sm-left">
      <%= @treat %>
    </div>
  </p>

  <p>
    <strong>その他：</strong>
    <div class="text-sm-left">
      <%= @other %>
    </div>
  </p>

  <p>
    <strong>イメージ：</strong>
    <div class="text-sm-left">
      <%= @image %>
    </div>
  </p>

</div>

<div class="card-footer">
  <%= link_to ' 戻る ', posts_path, class:"btn btn-secondary" %>
</div>